node_modules
.env
coverage
coverage.json
typechain
typechain-types
broadcast


# Hardhat files
cache
artifacts
.DS_Store

# Solidity
cache
artifacts
out
cache_forge

# Keep .vscode/settings.json for consistent Solidity configuration
!.vscode/
.vscode/*
!.vscode/settings.json

# Coverage
coverage
lcov.info

# Remappings
remappings.txt